# ignore OS junk
.DS_Store
Thumbs.db

# ignore node modules if you ever use them
node_modules/

# ignore packaged Chrome extension builds
*.crx
*.pem

# ignore testbed directory (local testing only)
testbed/
